pre {
    background-color: #2c2c2c;
    padding: 0px 20px;
    border: 2px #F7C80B inset;
    overflow-x: auto;
}
code {
    font-family: "Courier New", Courier, monospace;
    color: white;
}

.components {
    background-color: #333333;
    min-height: 100vh;
    margin-top: 45px;
}

.navbar {
    position: fixed;
    border-right: #fff solid 5px;
    height: 100vh;
    overflow: hidden;
}

.navbar__item {
    padding: 12px 0 12px 5px;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 500;
}

.navbar__item:hover {
    color: #F7C80B;
    cursor: pointer;
}

.components__content__title {
    text-transform: uppercase;
    font-size: 40px;
    font-weight: 700;
}

.components__content {
    position: fixed;
    left: 15%;
}